*.o
*.la
*.lo
*.libs
*.deps
*.deps/*
*.dirstamp
*.y.h
*.output
*.swp
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
depcomp
fwts-test/
install-sh
libtool
ltmain.sh
missing
src/Makefile
src/Makefile.in
src/acpica/Makefile
src/acpica/Makefile.in
src/acpica/dscontrol_munged.c
src/acpica/osunixxf_munged.c
src/acpica/source/compiler/Makefile
src/acpica/source/compiler/Makefile.in
src/acpica/source/compiler/aslcompiler.c
src/acpica/source/compiler/aslcompilerlex.c
src/acpica/source/compiler/dtparser.c
src/acpica/source/compiler/dtparserlex.c
src/acpica/source/compiler/prparser.c
src/acpica/source/compiler/prparserlex.c
src/fwts
src/lib/Makefile
src/lib/Makefile.in
src/lib/src/Makefile
src/lib/src/Makefile.in
src/utilities/Makefile
src/utilities/Makefile.in
src/utilities/kernelscan
stamp-h1
test-driver
